// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  color: #eee;
  background-size: cover;
  background-image: asset-url("herokanagawa.jpg");
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
}

div#content {
  font-size: 3em;
  margin-top: 22%;
}
